[user]
	name = Aurélien Bottazzini
	email = aurelien@bottazini.com
[core]
	quotepath = false
	excludesfile = /Users/aurelienbottazini/.gitignore_global
	editor = emacsclient -t -a ''
[push]
	default = upstream
[github]
	user = aurelienbottazzini
	tooken = dafc10e4f7c66a933baba52b1f50bc2e
[alias]
        cm = !git-cm
        df = diff --word-diff --color-words
        co = checkout
        b = branch
        ignore-tracked = update-index --assume-unchanged
	gtags = !.git/hooks/gtags
	glog = log -E -i --grep
	sla = log --oneline --decorate --graph --all
	car = commit --amend --no-edit
	unstage = reset
	uncommit = reset --soft HEAD^
	mup = !git checkout master && git pull && git checkout -
	sup = !git checkout staging && git pull && git checkout -
	ureset = !git upstream && git reset --hard (git upstream)
        browse = !hub browse
        compare = !hub compare
        issues = !hub browse -- issues
        pr = !hub pull-request
        ci = !hub ci-status
        upstream = rev-parse --abbrev-ref --symbolic-full-name @{upstream}
        fall = !git-fetch-all-remote
        rm-from-history = !git-remove-from-history
[credential]
	helper = osxkeychain
[difftool]
	prompt = false
[mergetool]
	prompt = false
[init]
	templatedir = ~/.git_template
[merge]
        ff = only
[fetch]
        prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
