[user]
	name = Aurélien Bottazini
	email = aurelien@bottazini.com
[core]
	quotepath = false
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = current
[alias]
        a = add -p
        s = status
        cm = !git-cm
        d = diff -w
        df = diff --word-diff --color-words
        co = checkout
        b = branch
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
        ignore-tracked = update-index --assume-unchanged
	gtags = !.git/hooks/gtags
	glog = log -E -i --grep
	rm-merged = !git branch --merged | egrep -v \"(^\\*|master)\" | xargs git branch -d
	sla = log --oneline --decorate --graph --all
	car = commit --amend --no-edit
	unstage = reset
	uncommit = reset --soft HEAD^
        abortmerge= git reset --hard HEAD
	mup = !git checkout master && git pull && git checkout -
	sup = !git checkout staging && git pull && git checkout -
	ureset = !git upstream && git reset --hard (git upstream)
        browse = !hub browse
        compare = !hub compare
        issues = !hub browse -- issues
        pr = !hub pull-request
        ci = !hub ci-status
        upstream = rev-parse --abbrev-ref --symbolic-full-name @{upstream}
        fall = !git-fetch-all-remote
        rm-from-history = !git-remove-from-history
        find-commits-for-file = log --all --
        po = !git push --set-upstream origin (git rev-parse --abbrev-ref HEAD)
	praise = blame
        leaderboard = shortlog -sn --all --no-merges
        recent-branches = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
        recap = log --all --oneline --no-merges --author=aurelien@bottazini.com
        today = log --since=00:00:00 --all --no-merges --oneline --author=aurelien@bottazini.com
	vdf = difftool
[init]
	templatedir = ~/.git_template
[merge]
#        ff = only
[fetch]
        prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[magit]
	hideCampaign = true
[diff]
	tool = vimdiff
