[user]
	name = Aurélien Bottazzini
	email = aurelien@bottazini.com
[core]
	quotepath = false
	excludesfile = /Users/aurelienbottazini/.gitignore_global
	editor = emacsclient -t -a ''
[push]
	default = upstream
[github]
	user = aurelienbottazzini
	tooken = dafc10e4f7c66a933baba52b1f50bc2e
[alias]
        cm = commit
        di = diff
        co = checkout
        b = branch
        ignore-tracked = update-index --assume-unchanged
	ctags = !.git/hooks/ctags
	glog = log -E -i --grep
	sla = log --oneline --decorate --graph --all
	car = commit --amend --no-edit
	unstage = reset
	uncommit = reset --soft HEAD^
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[init]
	templatedir = ~/.git_template
[merge]
        ff = only
[fetch]
        prune = true