*~
.DS_Store
.idea
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/elpa/
emacs/.emacs.d/emacs-config.el
emacs/.emacs.d/history
emacs/.emacs.d/org-clock-save.el
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/recentf
emacs/.emacs.d/bookmarks
emacs/.emacs.d/emacs-config.org_archive
emacs/.emacs.d/ido.last
emacs/.emacs.d/#ido.last#
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/url
emacs/.emacs.d/eshell
emacs/.emacs.d/Aurelien.el
emacs/.emacs.d/forge-database.sqlite
emacs/.emacs.d/network-security.data
emacs/.emacs.d/transient
emacs/.terminfo
/emacs/.emacs.d/.litable-lists.el
/emacs/.emacs.d/company-statistics-cache.el
/emacs/.emacs.d/ac-comphist.dat
home/.npmrc
home/.npmrc
home/.quokka/node_modules
/home_linux/.xmonad/xmonad-x86_64-linux
/home_linux/.xmonad/xmonad.errors
/home_linux/.xmonad/xmonad.hi
/home_linux/.xmonad/xmonad.o
/home_linux/.xmonad/xmonad.state
home/.emacs.d/elpa
/home/.emacs.d/recentf
home/.quokka/data
/home/.emacs.d/Aurelien.el
/home/.emacs.d/bookmarks
/home/.emacs.d/projectile-bookmarks.eld
/home/.emacs.d/projectile.cache

home/.quokka/.qid
home/.quokka/.qlc
home/.config/ranger/colorschemes/__init__.pyo
home/.config/ranger/colorschemes/solarizedAuray.pyo
./home/.config/ranger/colorschemes/__init__.pyo
./home/.config/ranger/colorschemes/solarizedAuray.pyo
home/.cmus
__pycache__
