*~
./fish/.config/configstore/update-notifier-npm.json
./home/.config/ranger/colorschemes/__init__.pyo
./home/.config/ranger/colorschemes/solarizedAuray.pyo
.DS_Store
.idea
.quokka
/emacs/.emacs.d/init.el
/emacs/.emacs.d/.litable-lists.el
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/company-statistics-cache.el
/fish/.config/configstore/nodemon.json
/home/.clojure/.cpcache
/home/.clojure/.cpcache/1278501115.cp
/home/.clojure/deps.edn
/home/.emacs.d/Aurelien.el
/home/.emacs.d/bookmarks
/home/.emacs.d/projectile-bookmarks.eld
/home/.emacs.d/projectile.cache
/home/.emacs.d/recentf
/home_linux/.xmonad/xmonad-x86_64-linux
/home_linux/.xmonad/xmonad.errors
/home_linux/.xmonad/xmonad.hi
/home_linux/.xmonad/xmonad.o
/home_linux/.xmonad/xmonad.state
/home_linux_desktop/.quokka/config.json
__pycache__
bin/bin/datagrip
bin/bin/idea
bin/bin/jetbrains-toolbox
emacs/.emacs.d/#ido.last#
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/Aurelien.el
emacs/.emacs.d/completion.el
emacs/.emacs.d/ide.el
emacs/.emacs.d/search.el
emacs/.emacs.d/vcs.el
emacs/.emacs.d/bookmarks
emacs/.emacs.d/elpa/
emacs/.emacs.d/emacs-config.el
emacs/.emacs.d/emacs-config.org_archive
emacs/.emacs.d/eshell
emacs/.emacs.d/forge-database.sqlite
emacs/.emacs.d/history
emacs/.emacs.d/ido.last
emacs/.emacs.d/network-security.data
emacs/.emacs.d/org-clock-save.el
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/recentf
emacs/.emacs.d/session*
emacs/.emacs.d/tramp
emacs/.emacs.d/transient
emacs/.emacs.d/url
emacs/.terminfo
fish/.config/configstore/update-notifier-npm.json
fish/.config/yarn/
home/.cmus
home/.config/mc/panels.ini
home/.config/ranger/colorschemes/__init__.pyo
home/.config/ranger/colorschemes/solarizedAuray.pyo
home/.emacs.d/elpa
home/.npmrc
home/.npmrc
home/.quokka/.qid
home/.quokka/.qlc
home/.quokka/data
home/.quokka/node_modules
home/.ssh/config
home_linux_desktop/.quokka/.qid
home_linux_desktop/.quokka/.qlc
home_linux_desktop/.quokka/notifications.json
home_linux_desktop/.quokka/package.json
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/files-and-directories.el
home/.config/Code/*
emacs/.emacs.d/vim.el
/home/.config/ranger/bookmarks
/home/.config/ranger/history
/home/.config/ranger/tagged
/emacs/.emacs.d/notes.el
/emacs/.emacs.d/request/
/emacs/.emacs.d/company-stats-cache.el
emacs/.emacs.d/.emacs-local
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/init.shell
TAGS
git/.config/git/gitsh_history
home/.config/shell/.zsh_history
home/.config/vim/*
home/.local/share/zsh/history
/tmux/.local/runtime/dconf/
/home/.config/zsh/.zcompdump
bin/.local/bin/datagrip
bin/.local/bin/idea
bin/.local/bin/jetbrains-toolbox
bin/.local/bin/pip
bin/.local/bin/pip*
home/.config/shell/zsh.local
