imap jk <Esc>
set scrolloff=5

set surround
set incsearch

" Insert line above.
nnoremap [<space> O<esc>0C<esc>j
" Insert line below.
nnoremap ]<space> o<esc>0C<esc>k
" Insert space before in normal mode.
nnoremap <space>[ i<space><esc>l
" Insert space after in normal mode.
nnoremap <space>] a<space><esc>h


" Previous method.
nnoremap [m :action MethodUp<cr>
" Next method.
nnoremap ]m :action MethodDown<cr>

let mapleader = " "
map <leader>a :action GotoAction<CR>
map <leader>d :action Debug<CR>
map <leader>g :action Vcs.QuickListPopupAction<CR>
map <leader>o :action GotoFile<CR>
map <leader>r :action Run<CR>
map <leader>v :action VimVisualToggleBlockMode<CR>
map <leader>z :action MaximizeToolWindow<CR>

