let mapleader = " "

imap jk <Esc>
set scrolloff=5

set easymotion
set surround
set multiple-cursors
set commentary
set argtextobj
set ReplaceWithRegister
set textobj-entire

set showcmd
set incsearch
set hls
set ignorecase
set clipboard+=unnamed
set ideajoin

set visualbell
set noerrorbells

" Insert line above.
nnoremap [<space> O<esc>0C<esc>j
" Insert line below.
nnoremap ]<space> o<esc>0C<esc>k

nnoremap <C-h> :action TabShiftActions.MoveFocusLeft<CR>
nnoremap <C-j> :action TabShiftActions.MoveFocusDown<CR>
nnoremap <C-k> :action TabShiftActions.MoveFocusUp<CR>
nnoremap <C-l> :action TabShiftActions.MoveFocusRight<CR>

map <leader>oh :nohlsearch<CR>
map <leader>os :source ~/.ideavimrc<CR>
